.head6 {
    text-align: center;
    background-color: lightgrey;
    font-family: Noteworthy, serif;
    font-size: 80px;
}


.head5 {
    color: darkblue;
    text-align: center;
    padding-top: 2px;

}
