<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tamara Bethea</title>
</head>

<body>
<h1>Tamara Bethea In a Nut Shell</h1>

    <h2>Personal Life</h2>

    <p>Today is my birthday, <strong>February 20th</strong>! I celebrated today with loved ones and had a great time.
    I got a lot of gifts pertaining to my interests. I love all things fashion, beauty, and fragrance.
    I hope to gift myself something related to my new found interest in sewing. I have always looked for
    different outlets for creativity and sewing is my latest undertaking. Additionally, I love shopping and
    practically <em>any</em> outlet where language is used creatively such as:</p>
    <ul>
    <li>Poetry</li>
    <li>Riddles</li>
    <li>Battle rap</li></ul>


    <h2>Professional Life</h2>

    <p>I am an Accounting and Information Systems double major at the University of Maryland. These majors
        have been quite challenging. See the table below for a list of my hardest courses and which semester
        I took them. I also intern right now in the technology audit practice of Aprio, once
        Aronson. Outside of school, I have an entrepreneurial venture where I sell custom desserts!
        It is called <em>Tamara's Sweet Co.</em> I sell the following items</p>
    <oll>
    <li>Cupcakes</li>
    <li>Chocolate Covered Strawberries</li>
    <li>Breakable Chocolate Hearts</li></oll>


    <h3>My hardest courses</h3>
    <!-- Insert Smith Logo -->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">
    <table>
    <tr>
    <th> Course</th>
    <th>Semester Taking</th>
    </tr>
    <tr>
    <th>BMGT220</th>
    <th>Fall 2021</th>
    </tr>
     <tr>
    <th>BMGT311</th>
    <th>Spring 2020</th>
    </tr>
    <tr>
    <th>BMGT417</th>
    <th>Fall 2022</th>
    </tr>
    </table>
    <h4>Important links</h4>
    <p>Visit my first ever HTML page <a href="http://localhost:63342/helloWorld2/templates/hello.html?_ijt=n5n9p8fck93b1j3os872gpvdcj">here.</a></p>
    <!--Opens new tab -->
    <p>In the birthday spirit, click for my <a href="https://www.houseofcb.com/" target="_blank"> favorite site for dresses.</a></p>
    <!--Opens new tab -->
    <p>A link to where I got my <a href="https://www.windsorstore.com/products/spiral-rhinestone-stiletto-heels-074013948001?variant=40936826372147&flow_country=USA&utm_source=google_shopping&utm_medium=cpc&utm_campaign=Shopping+-+Brand&utm_term=shopping&utm_content=hxDF5m6u-dc_pcrid_573464834775_pkw__pmt__slid__productid_40936826372147_pgrid_62032390710_ptaid_pla-296144732042_&intent=Shopping+Brand&gclid=CjwKCAiA0cyfBhBREiwAAtStHHYiqbDaxfXEA5ooJXCdkRwBCdf7klA_4mzSekOWqsyif_6k2f0rBhoCWgMQAvD_BwE" target="_blank"> birthday shoes.</a></p>
</body>
</html>
